@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateTestimonial</h1>

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Müşteri Yorum İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Müşteri Yorum Girişi</div>
						</div>
						<input type="hidden" asp-for="Id"/>
						<div class="card-body">
							<div class="form-group">
								<label for="Name">Müşteri Adı Gir</label>
								<input type="text" class="form-control" asp-for="Name" id="Name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Title">Müşteri Ünvanını Gir</label>
								<input type="text" class="form-control" asp-for="Title" id="Title">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Image">Müşteri Resim Dosyası Gir</label>
								<input type="text" class="form-control" asp-for="Image" id="Image">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Comment">Müşteri Yorumunu Gir</label>
								<input type="text" class="form-control" asp-for="Comment" id="Comment">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Yorumu Kaydet</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
