@model UpdateInfoDto
@{
    ViewData["Title"] = "UpdateInfo";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateInfo</h1>

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Anasayfa İletişim Bilgi İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">İletişim Bilgileri Güncelleme</div>
						</div>
						<input type="hidden" asp-for="Id" />
						<div class="card-body">
							<div class="form-group">
								<label for="Location">Lokasyon Giriniz</label>
								<input type="text" class="form-control" asp-for="Location" id="Location">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Phone">Telefon Numarası Giriniz</label>
								<input type="text" class="form-control" asp-for="Phone" id="Phone">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Mail">Görsel URL'sini' Giriniz</label>
								<input type="email" class="form-control" asp-for="Mail" id="Mail">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description">Açıklama Giriniz</label>
								<textarea rows="5" class="form-control" asp-for="Description" id="Description"></textarea>/>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">İletişim Bilgileri Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
